torch
torchvision
torchaudio
pytorch-lightning
open3d
numpy
pillow
jupyter
ipython
h5py
opencv-python
nltk
numpy-quaternion
seaborn
imageio-ffmpeg
beautifulsoup4
requests
pyzmq
ccimport==0.4.2
pccm==0.4.4
fire
lark
ninja
portalocker
pybind11
pywavelets
termcolor
tqdm
pymcubes
scipy
scikit-image
scikit-learn
matplotlib
pandas
hydra-core
hydra-colorlog
hydra-submitit-launcher
tensorboard
tensorboardX
addict
plyfile
k3d
trimesh
