torch==2.4.1
torchvision==0.19.1
torchaudio==2.4.1
pytorch-lightning==2.6.1
open3d==0.19.0
numpy==2.2.6
pillow
jupyter
ipython
h5py
opencv-python
nltk
numpy-quaternion
seaborn
imageio-ffmpeg
beautifulsoup4
requests
pyzmq
ccimport==0.4.2
pccm==0.4.4
fire
lark
ninja
portalocker
pybind11
pywavelets
termcolor
tqdm
pymcubes
scipy
scikit-image
scikit-learn
matplotlib
pandas
hydra-core
hydra-colorlog
hydra-submitit-launcher
tensorboard
tensorboardX
addict
plyfile
k3d
trimesh
einops==0.8.2
omegaconf==2.3.0
loguru==0.7.3
ema-pytorch==0.7.9
point-cloud-utils==0.34.0
